<link rel="stylesheet" type="text/css" href="style.css">
<!DOCTYPE html>

<style>
  
    .txtBlue {
        color: #00d4f1;
    }
    .txtWhite {
        color: white !important;
        font-size: 20px !important;
        font-weight: 500 !important;
    }
    .form_margin {
        margin-top: 20px;
    }
    input {
        border-radius: 18px;
        border: solid white 1px;
        color: #00d4f1;
        padding: 5px 10px 5px 10px;
        background-color: transparent;
        outline: 0 none;
    }
    textarea {
        border-radius: 18px;
        border: solid white 1px;
        color: #00d4f1;
        padding: 5px 10px 5px 10px;
        background-color: transparent;
        outline: 0 none;
    }
    .btn_selector {
        border: solid white 1px !important;
        border-radius: 18px !important;
        text-align: center;
        cursor: pointer;
        padding: 2px 10px !important;
        float: left;
        height: 100%;
        margin-right: 10px;
    }

    .selected_button {
        border: solid #00d4f1 1px;
        background-color: #00d4f1;
    }

    .selector_style {
        color: white;
        background-color: black;
        padding: 20px;
        outline: none;
        border: 0px;
    }

    .save_btn {
        background-color: transparent;
        color: #00d4f1;
        border: solid #00d4f1 2px;
        border-radius: 25px;
        font-size: 20px;
        margin-right: 15px;
        outline: none !important;
    }

    .save_btn:hover {
        background-color: #00d4f1;
        color: white;
        border: solid #00d4f1 2px;
    }

    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #addNew {
    display: none;
    }

    #addNew:target {
    display: block;
    }
</style>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
    </head>
    <body style="background-color: black;">

        <form method="post">
            <div class="container_content" style="margin: 60px 80px;">
            <div style="margin-bottom: 25px;">
                <span
                    style="color: white; font-size: 2vw; font-weight: 600; border-bottom: solid #00d4f1 8px; letter-spacing: 5px; margin-left: 40px;"
                >
                    Movie Form
                </span>
            </div>
            
            <div class="row">
                <div class="col-sm-1" style="margin: 10px auto auto auto;">
                </div>
                <div class="col-sm-11">
                    <div class="row form_margin">
                        <div class="col-2 txtWhite">Movie Name</div>
                        <div class="col-4">
                            <input value="<%=data.movieName %>" type="text" name="MovieName" id="id_movie_name" style="width: 80%;" />
                        </div>

                        <div class="col-2 txtWhite">Director </div>
                        <div class="col-4">
                            <input list="director" name="directorID" value="<%=data.directorID %>" style="width: 80%;" />
                                <datalist id="director">
                                <% Directors.forEach(function(Director){ %>
                                    <option value="<%=Director.directorID%>"><%=Director.fName%> <%=Director.lName%></option>
                                <% }); %> 
                            </datalist>
                            <div class="col-12" style="font-size: 14px; color: white; margin-top: 10px;">If not exist,<a href="#addNew"> add new</a> </div>
                            
                        </div>

                        <div class="col-2 txtWhite" >Genres</div>
                        <div class="col-4">
                            <input value="<%=data.genreTypeID %>" list="type" name="genreTypeID" style="width: 80%;" required />
                                <datalist id="type">
                                <% genres.forEach(function(Genre){ %>
                                    <option value="<%=Genre.genreTypeID%>"><%=Genre.genreTypeName%></option>
                                <% }); %> 
                            </datalist>
                            
                        </div>
                        <div id="addNew" class="col-6" style="color: white;">
                            <div class="row" style="padding-top:20px;">
                                <div class="col-4">First Name</div>
                                <div class="col-6">
                                <input type="text" name="fName" id="id_fName" style="width: 300px;"/>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-4">Last Name</div>
                                <div class="col-6">
                                <input type="text" name="lName" id="id_lName" style="width: 300px;"/>
                                </div>
                            </div>
                            <a style="float: right; margin-right: 80px; font-size: 14px;" href="#">close</a>
                        </div>
                        
                    </div>
                    
                    
                    <div class="row form_margin">
                        <div class="col-2 txtWhite">Movie Detail</div>
                        <!--name = same as body-->
                        <div class="col-4">
                            <textarea
                                name="MovieDetail"
                                id="id_movie_detail"
                                style="width: 80%; height: 145px;"
                                placeholder="type here..."
                                class="txtBlue"
                            ><%=data.movieDetail %></textarea>
                        </div>
                        <div class="col-2 txtWhite">
                            <div class="row" style="padding-left: 15px;">Audio</div>
                            <div class="row" style="margin-top: 22px; padding-left: 15px;">Movie Rate</div>
                            <div class="row" style="margin-top: 22px; padding-left: 15px;">Image Link </div>

                        </div>
                        <div class="col-4">
                            <div class="row" style="padding-left: 15px;">
                                <input value="<%=data.audio %>" type="text" name="Audio" id="id_audio" style="width: 77%;" />
                            </div>
                            <div class="row" style="margin-top: 22px; padding-left: 15px;">
                                <input value="<%=data.rate %>" type="text" name="MovieRate" id="id_movie_rate" style="width: 77%;" />
                            </div>
                            <div class="row" style="margin-top: 22px; padding-left: 15px;">
                                <input value="<%=data.imageLink %>" type="text" name="MovieImage" id="Image" style="width: 77%;" />
                            </div>

                        </div>
                    </div>
                    <div class="row form_margin">
                        <div class="col-2 txtWhite">Movie length</div>
                        <div class="col-4">
                            <input value="<%=data.movieLenght %>" type="text" name="Movielength" id="id_movie_length" style="width: 80%;" />
                        </div>
                        <div class="col-2 txtWhite">Theater Type</div>
                        <div class="col-4">
                            <input value="<%=data.theaterTypeID %>" list="ttype" name="theaterTypeID" style="width: 80%;" required />
                                <datalist id="ttype">
                                    <% Types.forEach(function(Type){ %>
                                    <option value="<%=Type.theaterTypeID %>"><%=Type.TheaterTypeName%></option>
                                    <% }); %> 
                                </datalist>
                        </div>
                    </div>


                    <div class="row form_margin">
                        <div class="col-2 txtWhite">Starring</div>
                        <div class="col-4">
                            <textarea value="<%=data.starring %>"
                                name="Starring"
                                id="id_starring"
                                style="width: 80%; height: 94px;"
                                placeholder="type here..."
                                class="txtBlue"
                            ><%=data.starring %></textarea>
                        </div>

                    </div>
                    <div class="row form_margin">
                        <div class="col-2 txtWhite">Release Date</div>
                        <div class="col-4">
                            <div class="btn-group">
                                <input placeholder="Day" value="<%=data.ReleaseDay %>" list="rd" name="rdd" style="width: 40%;" required />
                                <datalist id="rd">
                                    <% for (var i = 1; i < 32; i++){ %>
                                    <option value="<%=i %>"><%=i%></option>
                                    <% } %> 
                                </datalist>
                            </div>
                            <div class="btn-group">
                                <input placeholder="Month" value="<%=data.ReleaseMonth %>" list="rm" name="rmm" style="width: 60%; position: relative; top: -35px; left: 86px;" required />
                                <datalist id="rm">
                                        <option value="01">January</option>
                                        <option value="02">Febuary</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                </datalist>
                              
                            </div>
                                <div class="btn-group">
                                    <input placeholder="Year" value="<%=data.ReleaseYear %>" list="ry" name="ryy" style="width: 45%; position: relative; top: -70px; left: 210px;" required />
                                    <datalist id="ry">
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-2 txtWhite">End Date</div>
                        <div class="col-4">
                            <div class="btn-group">
                                <input placeholder="Day" value="<%=data.OutDay %>" list="rd" name="outdd" style="width: 40%;" required />
                                <datalist id="outdd">
                                    <% for (var i = 1; i < 32; i++){ %>
                                    <option value="<%=i %>"><%=i%></option>
                                    <% } %> 
                                </datalist>
                            </div>
                            <div class="btn-group">
                                <input placeholder="Month" value="<%=data.OutMonth %>" list="rm" name="outmm" style="width: 60%; position: relative; top: -35px; left: 86px;" required />
                                <datalist id="rm">
                                        <option value="01">January</option>
                                        <option value="02">Febuary</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                </datalist>
                            </div>
                            <div class="btn-group">
                                    <input placeholder="Year" value="<%=data.OutYear %>" list="oy" name="outyy" style="width: 45%; position: relative; top: -70px; left: 210px;" required />
                                    <datalist id="oy">
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                </datalist>
                                </div>
                        </div>
                    </div>
                    <div class="row form_margin" >
                        <div class="col-8 txtWhite"></div>
                        <div class="col-4">
                            <button class="noselect save_btn" style="float: left; width: 25%;" onclick="saveForm();">
                                SAVE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </body>
</html>

