<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
        <!-- Bootstrap Select -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
    
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
        <!--our source -->
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head> 

    <!--navbar section-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="#navbarNavAltMarkup">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:3000/"><b>HOME</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> MENU 
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class = "navbar-nav ml-auto">
                    <li class = "nav-item"><a href="#" class="nav-link">Welcome <%= currentAdmin %></a></li>
                    <li class = "nav-item"><a href="/adminLogout" class="nav-link">logout</a></li>
                </ul>
            </div>
        </div> 
    </nav>  
    
    <div class="container-fluid">
        <div class="edit-delete">
            <div class="sm-back-btn"><a href="./manageAdmin" class="back-btn"><span class="material-icons">keyboard_backspace</span></a></div>
            <div class="dataTitle">Movie Data</div>
            <div class="searchData">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for movie name..." class="branch-input__input"/>
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="movieData">
                <table id="result-tb" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Movie</th>
                            <th>Genre</th>
                            <th>Length</th>
                            <th>Director</th>
                            <th>Rate</th>
                            <th>Release Day</th>
                            <th>Release Month</th>
                            <th>Release Year</th>
                            <th>Out Day</th>
                            <th>Out Month</th>
                            <th>Out Year</th>
                            <th>Audio</th>
                            <th>Theater</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                    <% 
                    if(movieData.length!=0) {
                        var i=1;
                        movieData.forEach(function(item) { %>
                    <tbody>
                        <tr>
                            <td class="special"><%=item.movieID %></td>
                            <td><%=item.movieName %></td>
                            <td><%=item.genreTypeName %></td>
                            <td><%=item.movieLenght %></td>
                            <td><%=item.fName %> <%=item.lName %></td>
                            <td style="padding-left: 25px;"><%=item.rate %></td>
                            <td class="special"><%=item.ReleaseDay %></td>
                            <td class="special"><%=item.ReleaseMonth %></td>
                            <td class="special"><%=item.ReleaseYear %></td>
                            <td class="special"><%=item.OutDay %></td>
                            <td class="special"><%=item.OutMonth %></td>
                            <td class="special"><%=item.OutYear %></td>
                            <td class="special"><%=item.audio %></td>
                            <td class="special"><%=item.TheaterTypeName %></td>
                           
                            <td class=action>
                                <a href="./editmovie?id=<%= item.movieID %>" class="edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="./deletemovie?id=<%= item.movieID %>" onclick="return confirm('Are you sure to delete <%=item.movieName %>?')" class="delete-btn"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <% i++ }) %>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</html>

<script>
function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("result-tb");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
          }
        }  
    
    }
}
</script>